$defaultColor: #eee;
$whiteColor:#ffffff;
$primaryColor: #172D44;
$dangerColor: #c71e12;
$labelColor: #333333;
$fontFamily: 'Poppins', sans-serif;

@import "https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap";
